:host {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 1000;

  transform: translateX(100%);
  transition: transform 240ms ease;

  width: 591px;
  height: 1024px;
  box-shadow:
    0 5px 15px 0 rgba(216, 220, 235, 1),
    0 2.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 4.5px 5px -1px rgba (216, 220, 235, 1);
  border-radius: 12px 0px 0px 12px;
  background-color: rgba(255, 255, 255, 1);
}

:host-context(.is-open) {
  transform: translateX(0);
}

:host-context(.is-closing) {
  transform: translateX(100%);
}
