/* -----------------------------------
 * Global Color Palette
 * ----------------------------------- */

/* Text */
$color-text-strong: rgba(3, 9, 41, 1);

/* Base */
$color-white: #ffffff;
$background-color: rgba(255, 255, 255, 1);

/* Text */
$color-text-primary: #111827;
$color-text-secondary: #374151;

/* Borders */
$color-border-default: #e5e7eb;
$color-border-light: #f3f4f6;

/* Backgrounds */
$color-bg-muted: #f9fafb;

/* Font-family */
$font-family-base: 'Circular-Std';
